@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #f9fafc;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fas, .fab, .far {
    line-height: initial!important;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
.editor-preview h1, .editor-preview h2, .editor-preview h3, .editor-preview h4, .editor-preview h5, .editor-preview h6 {
    display: block;
    margin-block: 1rem;
    font-weight: bold;
}
.content h1,
.editor-preview h1 {
    font-size: 22px;
}
.content h2,
.editor-preview h2 {
    font-size: 20px;
}
.content h3,
.editor-preview h3 {
    font-size: 18px;
}
.content h4,
.editor-preview h4 {
    font-size: 16px;
}
.content h5,
.editor-preview h5 {
    font-size: 14px;
}
.content h6,
.editor-preview h6 {
    font-size: 12px;
}
.content p,
.editor-preview p {
    margin-block: 1rem;
    display: block;
    text-align: justify;
    word-spacing: 2px;
}
.content a, .editor-preview a {
    text-decoration: underline;
    color: #216be5;
}
.content em, .editor-preview em {
    font-style: italic;
}
.content blockquote, .editor-preview blockquote {
    padding: 0.125rem 1.5rem;
    border-left: 4px solid #9ca3af;
    background: ghostwhite;
    color: #1f1f1f;
    margin: 1rem 0;
    display: block;
}
.content ul, .editor-preview ul, .content ol, .editor-preview ol {
    margin: revert!important;
    padding: revert!important;
}
.content ul, .editor-preview ul {
    list-style: disc!important;
}
.content ol, .editor-preview ol {
    list-style: decimal!important;
}

.content img, .editor-preview img {
    width: 100%;
    object-fit: cover;
    padding: 2rem 0;
}
.content pre, .editor-preview pre {
    display: block;
    background: #eeeeee;
    padding: 0.5rem 1rem!important;
}

.content pre code, .editor-preview pre code {
    padding: 0;
}

.content code, .editor-preview code {
    padding: 2px 4px;
    background: #eeeeee;
}

.editor-toolbar {
    border: 0!important;
    opacity: 1!important;
    margin-bottom: 1rem!important;
    border-radius: 1rem!important;
}

.editor-toolbar a {
    opacity: 1!important;
    margin: 0 1rem!important;
}
.editor-toolbar a:hover {
    background: initial!important;
}

.CodeMirror {
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    background: #f8f8ff;
}


:target {
	animation: target-fade 3s ease;
}


/**
 * Keyframe animation definition
 *
 * 1. Insert a color of your choice here
 */

@keyframes target-fade {
	from { background-color: #e4e4e4; } /* [1] */
	to { background-color: transparent; }
}



.comment p {
    display: inline;
}