{% extends "forum/layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"/>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block body %}
    {% include "forum/components/navigation.html" %}
    <div class="flex items-start p-2 w-full flex-1 pb-10">
        {% include "forum/components/sidebar.html" %}
        <script type="text/javascript">
            const suppressUnloadEvent = () => {
                window.onbeforeunload = null
            }
            const processSubmit = () => {
                document.querySelector('textarea[name=tags]').value = document.querySelector('ul[id=tags]').innerText
                suppressUnloadEvent();
            }
        </script>
        <form id="thread-form"
              onsubmit="processSubmit()"
              method="post" action="{% if thread %}{% url 'edit-thread' thread.thread_id %}{% else %}{% url 'new-thread' %}{% endif %}"
              class="flex flex-col bg-white p-8 drop-shadow-sm rounded-xl mx-2 flex-1 h-full overflow-x-hidden">
            {% csrf_token %}
            <span class="text-xl font-Rubik font-medium pb-8 block">
                {{ title }}
            </span>
            {% if errors %}
                {% for error in errors %}
                    <span class="text-sm p-2 bg-[#f8f8ff] border-l-4 border-red-400 mb-2"><b
                                class="font-[600] mr-2">Error:</b> {{ error }}</span>
                {% endfor %}
            {% endif %}
            {% if form %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <span class="text-sm p-2 bg-[#f8f8ff] border-l-4 border-red-400 mb-2"><b
                                class="font-[600] mr-2">{{ field.label }}:</b> {{ error }}</span>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <label class="flex items-center">
                <span class="mr-8 font-medium font-Rubik hidden">
                    TOPIC
                </span>
                <input class="py-4 border-b font-Poppins w-full outline-none focus:border-blue-400" type="text"
                       {% if not thread.is_active%}disabled{% endif %}
                       name="topic" placeholder="What's on your mind..." value="{% if form %}{{ form.topic.value|default_if_none:'' }}{% else %}{{ thread.topic }}{% endif %}" required/>
            </label>
            <label for="simple-mde-editor" class="mt-4">
                <textarea name="content" id="simple-mde-editor" minlength="10">{% if form %}{{ form.content.value|default_if_none:'' }}{% else %}{{  thread.content.content }}{% endif %}</textarea>
            </label>
            <script type="text/javascript">
                const simpleMDE = new SimpleMDE({
                    element: document.getElementById('simple-mde-editor'),
                    placeholder: "Type here...",
                    showIcons: ["code", "table"],
                    renderingConfig: {
                        codeSyntaxHighlighting: true,
	                },
                });
                simpleMDE.codemirror.on('change', () => {
                    document.getElementById('simple-mde-editor').innerText = simpleMDE.value();
                })
            </script>
            <div class="flex items-start mt-4">
                <div class="flex items-center">
                    <span class="mr-2 font-medium font-Rubik text-sm">Tags:</span>
                    <button type="button" onclick='newTag()'
                            class="transition-all duration-200 ease-in-out p-4 hover:bg-[#e4e4e4] bg-[#f8f8ff] rounded-full text-xs mx-2 fas fa-plus"></button>
                </div>
                <label>
                    <textarea name="tags" hidden></textarea>
                </label>
                <ul id="tags" class="flex items-center flex-wrap">
                    {% if form %}
                        {% load tags %}
                        {% for tag in form.tags.value|to_tags %}
                        <li spellcheck="false" class="flex items-center mb-2 p-4 rounded-full text-xs font-Poppins mx-2 font-medium bg-[#f8f8ff] hover:bg-[#e4e4e4] drop-shadow-sm">
                            <span class='px-2 outline-none' contenteditable='true'>{{ tag }}</span><button onclick='this.parentElement.remove()' class='fas px-2 fa-close rounded-full'></button>
                        </li>
                        {% endfor %}
                    {% else %}
                        {% for tag in thread.tags %}
                        <li spellcheck="false" class="flex items-center mb-2 p-4 rounded-full text-xs font-Poppins mx-2 font-medium bg-[#f8f8ff] hover:bg-[#e4e4e4] drop-shadow-sm">
                            <span class='px-2 outline-none' contenteditable='true'>{{ tag }}</span><button onclick='this.parentElement.remove()' class='fas px-2 fa-close rounded-full'></button>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <script type="text/javascript">
                const newTag = (value="") => {
                    const container = document.getElementById('tags');
                    const new_tag = document.createElement("li")
                    new_tag.className = "flex items-center mb-2 p-4 rounded-full text-xs font-Poppins mx-2 font-medium bg-[#f8f8ff] hover:bg-[#e4e4e4] drop-shadow-sm"
                    {#new_tag.onclick = (e) => e.target.remove()#}
                    new_tag.spellcheck = false;
                    new_tag.onclick = () => new_tag.children[0].focus()
                    new_tag.innerHTML = `<span class='px-2 outline-none' contenteditable='true'>${value}</span><button onclick='this.parentElement.remove()' class='fas px-2 fa-close rounded-full'></button>`
                    container.append(new_tag);
                    new_tag.children[0].focus()
                }
            </script>
            {% if thread %}
                {% if thread.is_active %}
                    <script type="text/javascript">
                window.onbeforeunload = function(){
                    let formData = new FormData(document.getElementById('thread-form'))
                    if(
                        formData.get('topic') !== '{{ thread.topic }}' ||
                        simpleMDE.value() !== String.raw`{{ thread.content.content }}` ||
                        document.querySelector('ul[id=tags]').innerText.split('\n').map((e) => e.trim()).filter((e) => e.length > 0).join(",") !== '{{ thread.tags|join:"," }}'

                    )
                    return 'Are you sure you want to leave?';
                };
            </script>
                {% endif %}
            {% else %}
                <script type="text/javascript">
                window.onbeforeunload = function(){
                    let formData = new FormData(document.getElementById('thread-form'))
                    if(
                        formData.get('topic') !== '{{ thread.topic }}' ||
                        simpleMDE.value() !== String.raw`{{ thread.content.content }}` ||
                        document.querySelector('ul[id=tags]').innerText.split('\n').map((e) => e.trim()).filter((e) => e.length > 0).join(",") !== '{{ thread.tags|join:"," }}'

                    )
                    return 'Are you sure you want to leave?';
                };
            </script>
            {% endif %}
            <div class="flex items-center justify-between">
                {% if thread.is_active %}
                    <button onclick="if(window.confirm('This action is permanent, are you sure?'))window.location.href = '{% url "edit-thread" thread.thread_id %}?deactivate'" type="button" name="active"
                        class="p-4 mt-4 px-6 rounded-xl bg-red-400 hover:bg-red-600 text-white font-Poppins text-sm">
                        Close Thread
                    </button>
                {% endif %}
                {% if thread %}
                    {% if thread.is_active %}
                        <button type="submit" name="submit"
                            class="p-4 mt-4 ml-auto px-6 rounded-xl bg-[#1f1f1f] hover:bg-black text-white font-Poppins text-sm">Update
                    </button>
                    {% endif %}
                {% else %}
                    <button type="submit" name="submit"
                            class="p-4 mt-4 ml-auto px-6 rounded-xl bg-[#1f1f1f] hover:bg-black text-white font-Poppins text-sm">Post
                    </button>
                {% endif %}
            </div>
        </form>
        {% include "forum/components/dashboard-stats.html" %}
    </div>
{% endblock body %}