{% extends "forum/layouts/base.html" %}
{% load humanize %}
{% load tags %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"/>
{% endblock %}

{% block body %}
    {% include "forum/components/navigation.html" %}
    <div class="flex items-start p-2 w-full flex-1">
        {% include "forum/components/sidebar.html" %}
        <div class="flex bg-white p-6 drop-shadow-sm rounded-xl mx-2 flex-1">
            <div class="flex flex-col items-center text-xl p-6">
                <i class="fas fa-chevron-up text-green-600 p-2 hover:bg-[#e4e4e4] rounded-full"></i>
                <span class="text-green-600">69</span>
                <i class="fas fa-chevron-down p-2 hover:bg-[#e4e4e4] rounded-full"></i>
            </div>
            <div class="flex flex-col p-6 flex-1">
                <span class="text-3xl font-Roboto pb-2">{{ thread.topic }}</span>
                <div class="flex items-center pb-4 text-xs font-Poppins border-b">
                    <span class="mr-6">Posted <span class="font-medium ml-1">{{ thread.date_posted|naturaltime }}</span></span>
                    {% if thread.content.last_modified %}<span class="mr-6">Modified on <span
                            class="font-medium ml-1">{{ thread.content.last_modified|naturaltime }}</span></span>{% endif %}
                    <span class="mr-6">Viewed <span
                            class="font-medium ml-1">{{ thread.views|intcomma }} times</span></span>
                </div>
                <div id="content" class="font-Roboto py-4">
                    {{ thread.content.content|to_html|safe }}
                </div>
                <div id="tags" class="flex items-center mb-4 flex-wrap">
                    {% for tag in thread.tags %}
                        <a href="/?filter={{ tag }}"
                           class="flex items-center mb-2 p-[0.75rem] px-6 cursor-pointer rounded-full text-xs font-Poppins mx-2 font-medium bg-[#f8f8ff] hover:bg-[#e4e4e4] drop-shadow-sm">
                            {{ tag }}
                        </a>
                    {% endfor %}
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <i class="fas fa-share-alt mx-2 p-2 hover:bg-[#e4e4e4] rounded-full"></i>
                        <i class="far fa-bookmark mx-2 p-2 hover:bg-[#e4e4e4] rounded-full"></i>
                        <i class="far fa-flag mx-2 p-2 hover:bg-[#e4e4e4] rounded-full"></i>
                    </div>
                    <div class="flex p-4 bg-[#f0f8ff]">
                        <a href="/user/{{ thread.author.username }}">
                            <img src="{{ thread.author.profile_url }}"
                                 class="object-cover w-[36px] aspect-square rounded-full mr-4" alt="user-img"/>
                        </a>
                        <div class="font-Poppins flex flex-col">
                            <span class="text-xs text-gray-500">Asked by</span>
                            <a href="/user/{{ thread.author.username }}" class=" text-sm">{{ thread.author.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[400px]">
            <div class="bg-white p-6 drop-shadow-sm rounded-xl mb-2">
                <span class="text-md font-Rubik font-medium pb-2 block">Comments ({{ comments|length }})</span>
                {% if user.is_authenticated %}
                    <form id="comment" class="text-sm">
                        <label>
                            <textarea class="bg-[#f8f8ff] p-4 resize-vertical rounded-xl w-full outline-none h-fit" name="comment" type="text" placeholder="New Comment"
                                   minlength="0" maxlength="1000"></textarea>
                        </label>
                        <button class="p-2 px-6 bg-[#2a2a2a] rounded-xl text-white my-2 w-full">Comment</button>
                    </form>
                {% else %}
                    <p class="font-Poppins font-medium text-sm leading-6">
                        Log in to comment
                    </p>
                {% endif %}
                <ul class="flex flex-col flex-1 mt-4">
                    <li class="flex items-start flex-1">
                        <div class="font-Rubik flex text-sm flex-col">
                            <p class="text-gray-500 mb-4">
                          No, Chris is trying to point out why having blank=True without having null=True would cause problems in a DateTimeField.
                                <span class="mx-2">-</span>
                                <a class="text-blue-600 whitespace-nowrap " href="/user/{{ thread.author.username }}">{{ thread.author.name }}</a>
                                <span class="mx-2">{{ thread.date_posted }}</span>
                            </p>
                            <p class="text-gray-500 mb-4">
                          No, Chris is trying to point out why having blank=True without having null=True would cause problems in a DateTimeField.
                                <span class="mx-2">-</span>
                                <a class="text-blue-600 whitespace-nowrap " href="/user/{{ thread.author.username }}">{{ thread.author.name }}</a>
                                <span class="mx-2">{{ thread.date_posted }}</span>
                            </p>
                        </div>
                    </li>
                </ul>
                {% for comment in comments %}

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}