@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #f9fafc;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fas, .fab, .far {
    line-height: initial;
}