<div id="navigation" class="flex items-center w-full h-[100px] p-8 bg-white drop-shadow-sm sticky top-0 z-50">
    <a href="/" id="brand-logo" class="flex items-center px-4 lg:px-12">
        <i class="fab fa-forumbee mr-2"></i>
        <span class="text-xl font-[500] font-Rubik">FORUM</span>
    </a>
    <i onclick="toggleNav()" class="fas fa-bars p-4 lg:hidden hover:bg-[#f1f1f1] rounded-full ml-auto"></i>
    <script type="text/javascript">
        function toggleNav() {
            document.getElementById('flex-nav').classList.toggle('hidden')
        }
    </script>
    <div id="flex-nav" class="hidden lg:flex flex-1 fixed lg:relative bg-[rgba(0,0,0,0.2)] lg:bg-transparent top-[100px] lg:top-0 left-0 w-full h-[100vh] lg:h-fit">
        <ul class="bg-white flex flex-col lg:flex-row p-4 lg:py-0 lg:items-center text-sm lg:px-16 font-Poppins font-[500] text-gray-500">
            <li><a class="p-4 lg:py-0 block hover:text-black" href="/">Home</a></li>
            <li><a class="p-4 lg:py-0 block hover:text-black" href="/">Forum</a></li>
            <li><a class="p-4 lg:py-0 block hover:text-black" href="/">What's new</a></li>
            <li><a class="p-4 lg:py-0 block hover:text-black" href="/">Media</a></li>
            <li><a class="p-4 lg:py-0 block hover:text-black" href="/">Resources</a></li>
            <li><a class="p-4 lg:py-0 block hover:text-black" href="/">Members</a></li>
        </ul>
        <div class="bg-white p-4 lg:p-0 lg:ml-auto lg:flex items-center font-Poppins">
            <form id="search" class="bg-[#f8f8ff] p-4 text-sm rounded-xl mr-4">
                <i class="fas fa-magnifying-glass mx-2 mr-4"></i>
                <label>
                    <input class="bg-transparent outline-none" name="search" type="search" placeholder="Search..." minlength="0"/>
                </label>
            </form>
            {% if user.is_authenticated %}
                <div class="flex items-center my-4 lg:my-0 justify-center">
                    <button class="far fa-bell p-4 hover:bg-[#e4e4e4] rounded-full mr-2"></button>
                    <button class="far fa-envelope p-4 hover:bg-[#e4e4e4] rounded-full mr-4"></button>
                    <img src="{{ user.profile_url }}" class="object-cover w-[36px] aspect-square rounded-full mr-4" alt="user-img"/>
                    <a href="{% url 'logout' %}" class="fas fa-sign-out text-sm hover:bg-[#e4e4e4] p-4 rounded-full" title="Log out"></a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="flex items-center my-4 lg:my-0 justify-center lg:w-fit p-[0.75rem] px-6 bg-[#1f1f1f] text-white hover:bg-black rounded-xl border-2 border-gray-800 text-xs font-Poppins font-medium">Log in</a>
            {% endif %}
        </div>
    </div>
</div>