{% load static %}
<div class="bg-white p-6 px-4 w-[350px] drop-shadow-sm rounded-xl">
    <script type="text/javascript">
        const addURLParams = (key, value) => {
            const url = new URL(window.location.href);
            url.searchParams.set(key, value);
            window.location.href = url.href;
        }
    </script>
    <ul class="flex flex-col font-Poppins">

        <li>
            <a class="flex items-center px-4 mb-4"
               href="{% if user.is_authenticated %}/user/{{ user.username }}{% else %}{% url 'signup' %}{% endif %}">
                <img src="{% if user.is_authenticated %}{{ user.profile_url }}{% else %}{% static "img/default-user.png" %}{% endif %}"
                     class="object-cover w-[36px] aspect-square rounded-full" alt="user-img"/>
                <span class="mx-4 font-[600] font-Poppins text-sm">{% if user.is_authenticated %}
                    {{ user.name }}{% else %}Anonymous{% endif %}</span>
            </a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a class="flex items-center p-[0.75rem] hover:bg-[#f1f1f1] rounded-xl" href="/">
                    <i class="far fa-envelope w-[36px] text-center"></i>
                    <span class="text-sm font-[600]">Inbox</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-[0.75rem] hover:bg-[#f1f1f1] rounded-xl" href="/">
                    <i class="far fa-bell w-[36px] text-center"></i>
                    <span class=" text-sm font-[600]">Notifications</span>
                </a>
            </li>
            <li class="m-2"></li>
        {% endif %}
        {% if threads %}
            <li class="p-4 flex items-center justify-between">
                <span class="text-gray-500 text-xs font-medium font-Rubik">FORUM FILTERS</span>
                <a id="reset-filters" href="{% url 'home' %}" class="hidden text-gray-500 fas fa-close p-1 text-sm"></a>
                <script type="text/javascript">
                    if(new URL(window.location.href).searchParams.has('filter'))
                        document.getElementById('reset-filters').classList.remove('hidden');
                </script>
            </li>
            {% load tags %}
            {% for tag in tags %}
                <li>
                    <button class="cursor-pointer flex w-full items-center p-[0.75rem] hover:bg-[#f1f1f1] rounded-xl"
                            onclick="addURLParams('filter', '{{ tag }}')">
                        <span class="flex justify-center w-[36px]">
                            <i style="border-color: {% random_color %}"
                               class="border-2 rounded-full w-fit p-[0.4rem] block"></i>
                        </span>
                        <span class="text-xs font-[600]">{{ tag }}</span>
                    </button>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>